In [1]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
import matplotlib.patches as mpatches
import seaborn as sb

from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn import tree
import xgboost as xgb

from sklearn.model_selection import train_test_split

In [4]:
df_frio_frio_train = pd.read_csv('/content/drive/MyDrive/Organización de Datos/Tp 2/Datos/Train_TP2_Datos_2020-2C.csv')
df_frio_frio_train = df_frio_frio_train.fillna(0)
df_frio_frio_train.head()

      ID    Region  ...        Stage       Prod_Category_A
0  27761      EMEA  ...  Closed Lost  Prod_Category_A_None
1  27760      EMEA  ...   Closed Won  Prod_Category_A_None
2  27446  Americas  ...   Closed Won  Prod_Category_A_None
3  16808  Americas  ...  Closed Lost  Prod_Category_A_None
4  16805  Americas  ...  Closed Lost  Prod_Category_A_None

[5 rows x 52 columns]

In [3]:
train = df_frio_frio_train[((df_frio_frio_train['Stage'] == 'Closed Won') | (df_frio_frio_train['Stage'] == 'Closed Lost'))]
train['Stage'] = train['Stage'].apply(lambda x: 1 if x == 'Closed Won' else 0)
train

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          ID    Region  ... Stage       Prod_Category_A
0      27761      EMEA  ...     0  Prod_Category_A_None
1      27760      EMEA  ...     1  Prod_Category_A_None
2      27446  Americas  ...     1  Prod_Category_A_None
3      16808  Americas  ...     0  Prod_Category_A_None
4      16805  Americas  ...     0  Prod_Category_A_None
...      ...       ...  ...   ...                   ...
16942   8781      EMEA  ...     1  Prod_Category_A_None
16943   8786      EMEA  ...     1  Prod_Category_A_None
16944   8792      EMEA  ...     1  Prod_Category_A_None
16945  28561  Americas  ...     0  Prod_Category_A_None
16946  28318  Americas  ...     0  Prod_Category_A_None

[16883 rows x 52 columns]

### De momento solo trabajo con valores numericos

In [ ]:
train = train.select_dtypes(exclude=['object'])
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16883 entries, 0 to 16946
Data columns (total 14 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   ID                                  16883 non-null  int64
 1   Pricing, Delivery_Terms_Quote_Appr  16883 non-null  int64
 2   Pricing, Delivery_Terms_Approved    16883 non-null  int64
 3   Bureaucratic_Code_0_Approval        16883 non-null  int64
 4   Bureaucratic_Code_0_Approved        16883 non-null  int64
 5   Submitted_for_Approval              16883 non-null  int64
 6   Opportunity_ID                      16883 non-null  int64
 7   ASP                                 16883 non-null  float64
 8   ASP_(converted)                     16883 non-null  float64
 9   Delivery_Year                       16883 non-null  int64
 10  TRF                                 16883 non-null  int64
 11  Total_Amount                        16883 non-null  float64
 12  Total_Taxable_Amount                16883 non-null  float64
 13  Stage                               16883 non-null  int64
dtypes: float64(4), int64(10)
memory usage: 1.9 MB

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = \
    train_test_split(train.drop(columns = 'Stage'), train['Stage'], test_size=0.2, random_state=123)

In [ ]:
rf_model = RandomForestRegressor(random_state=1)
rf_model.fit(X_train, y_train)
preds = rf_model.predict(X_test)
rmse = np.sqrt(mean_squared_error(y_test, preds))
print("RMSE: %f" % (rmse))

RMSE: 0.304329

In [ ]:
# Gini importance
rf_model.feature_importances_

array([0.24110993, 0.00512213, 0.05236612, 0.01457772, 0.00551565,
       0.        , 0.12041847, 0.07560899, 0.06590688, 0.01876476,
       0.18313873, 0.10029407, 0.11717653])

In [ ]:
df_frio_frio_test = pd.read_csv('/content/drive/MyDrive/Organización de Datos/Tp 2/Datos/Test_TP2_Datos_2020-2C.csv')
df_frio_frio_test = df_frio_frio_test.dropna()
val_X = df_frio_frio_test.select_dtypes(exclude=['object'])

In [ ]:
predicts = rf_model.predict(val_X)
predicts

array([0.4 , 0.55, 0.37, ..., 0.74, 0.62, 0.28])

In [ ]:
output = pd.DataFrame({'Opportunity_ID':val_X.Opportunity_ID, 'Target': predicts})
output

      Opportunity_ID  Target
0              10689    0.40
1              10689    0.55
2              10689    0.37
3              10690    0.10
4              10690    0.44
...              ...     ...
2546           12364    0.73
2547           12365    0.87
2548           12366    0.74
2549           12367    0.62
2550           12368    0.28

[2467 rows x 2 columns]

In [ ]:

final=output.groupby('Opportunity_ID').mean()
final

                  Target
Opportunity_ID
10689           0.440000
10690           0.438000
10691           0.710000
10692           0.683333
10693           0.970000
...                  ...
12364           0.705000
12365           0.870000
12366           0.740000
12367           0.620000
12368           0.280000

[1567 rows x 1 columns]

In [ ]:
final.to_csv('/content/drive/MyDrive/Organización de Datos/Tp 2/Resultados/RandomForestScore1.csv')

##Ahora hago el GroupBy antes de entrenar

In [ ]:
train2 = df_frio_frio_train[((df_frio_frio_train['Stage'] == 'Closed Won') | (df_frio_frio_train['Stage'] == 'Closed Lost'))]
train2['Stage'] = train2['Stage'].apply(lambda x: 1 if x == 'Closed Won' else 0)
train2 = train2.drop_duplicates('Opportunity_ID')
train2 = train2.select_dtypes(exclude=['object'])
train2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9791 entries, 0 to 16946
Data columns (total 14 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   ID                                  9791 non-null   int64
 1   Pricing, Delivery_Terms_Quote_Appr  9791 non-null   int64
 2   Pricing, Delivery_Terms_Approved    9791 non-null   int64
 3   Bureaucratic_Code_0_Approval        9791 non-null   int64
 4   Bureaucratic_Code_0_Approved        9791 non-null   int64
 5   Submitted_for_Approval              9791 non-null   int64
 6   Opportunity_ID                      9791 non-null   int64
 7   ASP                                 9791 non-null   float64
 8   ASP_(converted)                     9791 non-null   float64
 9   Delivery_Year                       9791 non-null   int64
 10  TRF                                 9791 non-null   int64
 11  Total_Amount                        9791 non-null   float64
 12  Total_Taxable_Amount                9791 non-null   float64
 13  Stage                               9791 non-null   int64
dtypes: float64(4), int64(10)
memory usage: 1.1 MB

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
train2

          ID  Pricing, Delivery_Terms_Quote_Appr  ...  Total_Taxable_Amount  Stage
0      27761                                   1  ...             5272800.0      0
1      27760                                   0  ...               48230.0      1
2      27446                                   0  ...               83865.6      1
3      16808                                   1  ...             7421881.5      0
4      16805                                   1  ...            13357192.5      0
...      ...                                 ...  ...                   ...    ...
16939  18324                                   1  ...              401700.0      1
16940  20827                                   1  ...            21332500.0      0
16942   8781                                   1  ...              299715.0      1
16945  28561                                   1  ...                   0.0      0
16946  28318                                   1  ...                   0.0      0

[9791 rows x 14 columns]

In [ ]:
X_train, X_test, y_train, y_test = \
    train_test_split(train2.drop(columns = 'Stage'), train2['Stage'], test_size=0.2, random_state=123)

In [ ]:
rf_model2 = RandomForestRegressor(random_state=1)
rf_model2.fit(X_train, y_train)
preds = rf_model2.predict(X_test)
rmse = np.sqrt(mean_squared_error(y_test, preds))
print("RMSE: %f" % (rmse))

RMSE: 0.372077

In [ ]:
val_X2 = df_frio_frio_test.drop_duplicates('Opportunity_ID').select_dtypes(exclude=['object'])

predicts2 = rf_model2.predict(val_X2)
predicts2

array([0.5 , 0.2 , 0.74, ..., 0.52, 0.42, 0.27])

In [ ]:
output2 = pd.DataFrame({'Opportunity_ID':val_X2.Opportunity_ID, 'Target': predicts2})
output2

      Opportunity_ID  Target
0              10689    0.50
3              10690    0.20
8              10691    0.74
9              10692    0.66
15             10693    0.84
...              ...     ...
2545           12364    0.67
2547           12365    0.84
2548           12366    0.52
2549           12367    0.42
2550           12368    0.27

[1567 rows x 2 columns]

In [ ]:
output2.groupby('Opportunity_ID').mean().to_csv('/content/drive/MyDrive/Organización de Datos/Tp 2/Resultados/RandomForestScore2.csv')

In [ ]:
final.reset_index()

      Opportunity_ID    Target
0              10689  0.440000
1              10690  0.438000
2              10691  0.710000
3              10692  0.683333
4              10693  0.970000
...              ...       ...
1562           12364  0.705000
1563           12365  0.870000
1564           12366  0.740000
1565           12367  0.620000
1566           12368  0.280000

[1567 rows x 2 columns]

## Ahora voy a tratar de utilizar las variables categoricas

### One Hot Encoding

In [5]:
from sklearn import preprocessing

In [6]:
prueba = df_frio_frio_train
prueba['Stage'] = prueba['Stage'].apply(lambda x: 1 if x == 'Closed Won' else 0)
prueba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16947 entries, 0 to 16946
Data columns (total 52 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   ID                                  16947 non-null  int64
 1   Region                              16947 non-null  object
 2   Territory                           16947 non-null  object
 3   Pricing, Delivery_Terms_Quote_Appr  16947 non-null  int64
 4   Pricing, Delivery_Terms_Approved    16947 non-null  int64
 5   Bureaucratic_Code_0_Approval        16947 non-null  int64
 6   Bureaucratic_Code_0_Approved        16947 non-null  int64
 7   Submitted_for_Approval              16947 non-null  int64
 8   Bureaucratic_Code                   16947 non-null  object
 9   Account_Created_Date                16947 non-null  object
 10  Source                              16947 non-null  object
 11  Billing_Country                     16947 non-null  object
 12  Account_Name                        16947 non-null  object
 13  Opportunity_Name                    16947 non-null  object
 14  Opportunity_ID                      16947 non-null  int64
 15  Sales_Contract_No                   16947 non-null  object
 16  Account_Owner                       16947 non-null  object
 17  Opportunity_Owner                   16947 non-null  object
 18  Account_Type                        16947 non-null  object
 19  Opportunity_Type                    16947 non-null  object
 20  Quote_Type                          16947 non-null  object
 21  Delivery_Terms                      16947 non-null  object
 22  Opportunity_Created_Date            16947 non-null  object
 23  Brand                               16947 non-null  object
 24  Product_Type                        16947 non-null  object
 25  Size                                16947 non-null  object
 26  Product_Category_B                  16947 non-null  object
 27  Price                               16947 non-null  object
 28  Currency                            16947 non-null  object
 29  Last_Activity                       16947 non-null  object
 30  Quote_Expiry_Date                   16947 non-null  object
 31  Last_Modified_Date                  16947 non-null  object
 32  Last_Modified_By                    16947 non-null  object
 33  Product_Family                      16947 non-null  object
 34  Product_Name                        16947 non-null  object
 35  ASP_Currency                        16947 non-null  object
 36  ASP                                 16947 non-null  float64
 37  ASP_(converted)_Currency            16947 non-null  object
 38  ASP_(converted)                     16947 non-null  float64
 39  Planned_Delivery_Start_Date         16947 non-null  object
 40  Planned_Delivery_End_Date           16947 non-null  object
 41  Month                               16947 non-null  object
 42  Delivery_Quarter                    16947 non-null  object
 43  Delivery_Year                       16947 non-null  int64
 44  Actual_Delivery_Date                16947 non-null  object
 45  TRF                                 16947 non-null  int64
 46  Total_Amount_Currency               16947 non-null  object
 47  Total_Amount                        16947 non-null  float64
 48  Total_Taxable_Amount_Currency       16947 non-null  object
 49  Total_Taxable_Amount                16947 non-null  float64
 50  Stage                               16947 non-null  int64
 51  Prod_Category_A                     16947 non-null  object
dtypes: float64(4), int64(10), object(38)
memory usage: 6.7+ MB

In [7]:
categoric_cols = prueba.columns[prueba.dtypes==object].tolist() 
numeric_cols = prueba.columns[prueba.dtypes!=object].tolist()

In [8]:
from sklearn.preprocessing import OneHotEncoder
onehotencoder = OneHotEncoder(handle_unknown = 'ignore')

def crearOneHotDF(c1):    
    M = pd.DataFrame(onehotencoder.fit_transform(prueba[[c1]]).toarray())
    
    num_cols = len(list(M))
    rng = range(0, num_cols)
    new_cols = [c1 + str(i) for i in rng] 
    M.columns = new_cols[:num_cols]
    return M



categorical = pd.concat([crearOneHotDF(i) for i in categoric_cols], axis=1)

categorical.head()

   Region0  Region1  ...  Total_Taxable_Amount_Currency4  Prod_Category_A0
0      0.0      0.0  ...                             0.0               1.0
1      0.0      0.0  ...                             0.0               1.0
2      0.0      1.0  ...                             1.0               1.0
3      0.0      1.0  ...                             1.0               1.0
4      0.0      1.0  ...                             1.0               1.0

[5 rows x 23568 columns]

In [9]:
categorical.shape

(16947, 23568)

In [10]:
number = prueba[numeric_cols]
number.head()

      ID  Pricing, Delivery_Terms_Quote_Appr  ...  Total_Taxable_Amount  Stage
0  27761                                   1  ...             5272800.0      0
1  27760                                   0  ...               48230.0      1
2  27446                                   0  ...               83865.6      1
3  16808                                   1  ...             7421881.5      0
4  16805                                   1  ...            13357192.5      0

[5 rows x 14 columns]

In [11]:
number.shape

(16947, 14)

In [12]:
prueba_limpia = pd.concat([categorical, number], axis=1)
prueba_limpia.head()

   Region0  Region1  Region2  ...  Total_Amount  Total_Taxable_Amount  Stage
0      0.0      0.0      1.0  ...     5272800.0             5272800.0      0
1      0.0      0.0      1.0  ...       48230.0               48230.0      1
2      0.0      1.0      0.0  ...       83865.6               83865.6      1
3      0.0      1.0      0.0  ...     7421881.5             7421881.5      0
4      0.0      1.0      0.0  ...    13357192.5            13357192.5      0

[5 rows x 23582 columns]

In [ ]:

X_train, X_test, y_train, y_test = \
    train_test_split(prueba_limpia.drop(columns = 'Stage'), prueba_limpia['Stage'], test_size=0.2, random_state=123)


model_r = RandomForestRegressor(random_state = 0)
model_r.fit(train_X, train_y)
predict_r = model_r.predict(val_X)

predict_r