In [1]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
import matplotlib.patches as mpatches
import seaborn as sb

from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn import tree
import xgboost as xgb

In [2]:
df_frio_frio_train = pd.read_csv('/content/drive/MyDrive/Organización de Datos/Tp 2/Datos/Train_TP2_Datos_2020-2C.csv')
df_frio_frio_train = df_frio_frio_train.fillna(0)
df_frio_frio_train.head()

      ID    Region  ...        Stage       Prod_Category_A
0  27761      EMEA  ...  Closed Lost  Prod_Category_A_None
1  27760      EMEA  ...   Closed Won  Prod_Category_A_None
2  27446  Americas  ...   Closed Won  Prod_Category_A_None
3  16808  Americas  ...  Closed Lost  Prod_Category_A_None
4  16805  Americas  ...  Closed Lost  Prod_Category_A_None

[5 rows x 52 columns]

In [3]:
train = df_frio_frio_train[((df_frio_frio_train['Stage'] == 'Closed Won') | (df_frio_frio_train['Stage'] == 'Closed Lost'))]
train['Stage'] = train['Stage'].apply(lambda x: 1 if x == 'Closed Won' else 0)
train

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          ID    Region  ... Stage       Prod_Category_A
0      27761      EMEA  ...     0  Prod_Category_A_None
1      27760      EMEA  ...     1  Prod_Category_A_None
2      27446  Americas  ...     1  Prod_Category_A_None
3      16808  Americas  ...     0  Prod_Category_A_None
4      16805  Americas  ...     0  Prod_Category_A_None
...      ...       ...  ...   ...                   ...
16942   8781      EMEA  ...     1  Prod_Category_A_None
16943   8786      EMEA  ...     1  Prod_Category_A_None
16944   8792      EMEA  ...     1  Prod_Category_A_None
16945  28561  Americas  ...     0  Prod_Category_A_None
16946  28318  Americas  ...     0  Prod_Category_A_None

[16883 rows x 52 columns]

### De momento solo trabajo con valores numericos

In [4]:
train = train.select_dtypes(exclude=['object'])
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16883 entries, 0 to 16946
Data columns (total 14 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   ID                                  16883 non-null  int64
 1   Pricing, Delivery_Terms_Quote_Appr  16883 non-null  int64
 2   Pricing, Delivery_Terms_Approved    16883 non-null  int64
 3   Bureaucratic_Code_0_Approval        16883 non-null  int64
 4   Bureaucratic_Code_0_Approved        16883 non-null  int64
 5   Submitted_for_Approval              16883 non-null  int64
 6   Opportunity_ID                      16883 non-null  int64
 7   ASP                                 16883 non-null  float64
 8   ASP_(converted)                     16883 non-null  float64
 9   Delivery_Year                       16883 non-null  int64
 10  TRF                                 16883 non-null  int64
 11  Total_Amount                        16883 non-null  float64
 12  Total_Taxable_Amount                16883 non-null  float64
 13  Stage                               16883 non-null  int64
dtypes: float64(4), int64(10)
memory usage: 1.9 MB

In [5]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = \
    train_test_split(train.drop(columns = 'Stage'), train['Stage'], test_size=0.2, random_state=123)

In [6]:
xg_reg = xgb.XGBRegressor(objective ='reg:squarederror', 
                colsample_bytree = 0.3, learning_rate = 0.1,
                max_depth = 5, alpha = 10, n_estimators = 10)

In [7]:
xg_reg.fit(X_train,y_train)

XGBRegressor(alpha=10, base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.3, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=5, min_child_weight=1, missing=None, n_estimators=10,
             n_jobs=1, nthread=None, objective='reg:squarederror',
             random_state=0, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
             seed=None, silent=None, subsample=1, verbosity=1)

In [8]:
preds = xg_reg.predict(X_test)

In [9]:
rmse = np.sqrt(mean_squared_error(y_test, preds))
print("RMSE: %f" % (rmse))

RMSE: 0.437081

In [18]:
xg_reg = xgb.XGBRegressor(objective ='reg:squarederror', 
                colsample_bytree = 0.3, learning_rate = 0.1,
                max_depth = 50, alpha = 25, n_estimators = 100)
xg_reg.fit(X_train,y_train)
preds = xg_reg.predict(X_test)
rmse = np.sqrt(mean_squared_error(y_test, preds))
print("RMSE: %f" % (rmse))

RMSE: 0.292997

In [11]:
xg_reg = xgb.XGBRegressor(objective ='reg:squarederror', 
                colsample_bytree = 0.3, learning_rate = 0.1,
                max_depth = 4, alpha = 10, n_estimators = 100)
xg_reg.fit(X_train,y_train)
preds = xg_reg.predict(X_test)
rmse = np.sqrt(mean_squared_error(y_test, preds))
print("RMSE: %f" % (rmse))

RMSE: 0.367035

In [19]:
df_frio_frio_test = pd.read_csv('/content/drive/MyDrive/Organización de Datos/Tp 2/Datos/Test_TP2_Datos_2020-2C.csv')
df_frio_frio_test = df_frio_frio_test.dropna()
val_X = df_frio_frio_test.select_dtypes(exclude=['object'])

In [20]:
predicts = xg_reg.predict(val_X)
predicts

array([0.55689275, 0.58108604, 0.50002474, ..., 0.381269  , 0.65269977,
       0.27777392], dtype=float32)

In [21]:
output = pd.DataFrame({'Opportunity_ID':val_X.Opportunity_ID, 'Target': predicts})
output

      Opportunity_ID    Target
0              10689  0.556893
1              10689  0.581086
2              10689  0.500025
3              10690  0.284494
4              10690  0.424286
...              ...       ...
2546           12364  0.537576
2547           12365  0.695998
2548           12366  0.381269
2549           12367  0.652700
2550           12368  0.277774

[2467 rows x 2 columns]

In [22]:
final=output.groupby('Opportunity_ID').mean()
final

                  Target
Opportunity_ID
10689           0.546001
10690           0.395314
10691           0.544739
10692           0.549688
10693           0.826533
...                  ...
12364           0.678631
12365           0.695998
12366           0.381269
12367           0.652700
12368           0.277774

[1567 rows x 1 columns]

In [23]:
final.to_csv('/content/drive/MyDrive/Organización de Datos/Tp 2/Resultados/XGBoostScore1.csv')